<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MRAssignment1</title>

    <!--User Story Javascript-->
    <script src="~/js/site.js"></script>
    <!--jQuery-->
    <script src="~/lib/jquery/jquery-2.1.4.js"></script>
    <!--jQuery Mobile-->
    <script src="~/lib/jquery/jquery.mobile-1.4.5.js"></script>
    <!--jQuery Mobile style-->
    <link rel="stylesheet" type="text/css" href="~/css/jquery.mobile-1.4.5.css">

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
</head>
<body>
    <header>

    </header>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p class="pull-left">&copy; 2019 - Assignment 1
            <p class="pull-right">
                <a href="mailto:mrodrigues9405@conestogac.on.ca"> Marcus Rodrigues </a>- Section 5           
            </p>
        </footer>
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
